@namespace Smart.Design.Blazor
@inherits Smart.Design.Blazor.InputBase<TValue>
@typeparam TValue

<div class="c-radio-group">
    <CascadingValue IsFixed="true" Value="_context">
        @ChildContent
    </CascadingValue>
</div>