@page "/app"

<SmartPanel>
	<Header>
		<h2 class="c-hr">Form grouping</h2>
	</Header>
	<Body>
	<FormGroup Label="Add client">
		<div class="c-blank-slate c-blank-slate--bg-alt">
			<p class="text-muted c-body-1">Please add a client for this quote.</p>
			<SmartButtonToolbar>
				<SmartButton LeadingIcon="Icon.Add" Label="Add new client"></SmartButton>
				<SmartButton LeadingIcon="Icon.Add" Label="Add new client"></SmartButton>
			</SmartButtonToolbar>
		</div>
	</FormGroup>
	</Body>
</SmartPanel>