@namespace Smart.Design.Blazor

@if (Show)
{
    <div class="c-alert c-alert--@(AlertStyle.ToString().ToLowerInvariant())">
        <SmartIcon Icon="Icon"></SmartIcon>
        <div class="c-alert__body">
            <div class="c-alert__text">
                @if (Title is not null)
                {
                    <h4 class="c-h4">@Title</h4>
                }
                <div class="c-alert__message">
                    <div class="c-content">
                        @if (Message is not null)
                        {
                            <p>@Message</p>
                        }
                        else if (Messages is not null)
                        {
                            <ul>
                                @foreach (var message in Messages)
                                {
                                    <li>@message</li>
                                }
                            </ul>
                        }
                    </div>
                </div>
            </div>
        </div>
        @if (Closable)
        {
            <button @onclick="() => Show = false" class="c-button-link c-button--borderless-muted c-button--icon" type="button" data-alert-close="data-alert-close" aria-label="Close alert">
                <span class="c-button__content">
                    <SmartIcon Icon="Blazor.Icon.Close"></SmartIcon>
                    <div class="u-sr-accessible">
                        Alert sluiten
                    </div>
                </span>
            </button>
        }
    </div>
}