@page "/tab"

@namespace BlazorApp1.Pages

<div style="min-height: 20rem;">
    <div data-popover="popover-base-example" data-popover-placement="bottom-start">
        <span class="c-button__content">
            <span class="c-button__label">
                <div class="c-button__content">
                    <div class="c-button__label">Show a popover</div>
                </div>
            </span>
        </span>
    </div>
    <div class="c-popover" id="popover-base-example" role="popover">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        <div class="c-popover__arrow" data-popper-arrow="data-popper-arrow"></div>
    </div>
</div>

<hr/>

<nav class="c-tabs">
    <ul>
        <li>
            <a class="c-tabs__item" href="#section1">Item</a>
        </li>
        <li>
            <a class="c-tabs__item" href="#section2">Item</a>
        </li>
        <li>
            <a class="c-tabs__item" href="#section3">Item</a>
        </li>
        <li>
            <a class="c-tabs__item" href="#section4">Item</a>
        </li>
        <li>
            <a class="c-tabs__item" href="#section5">Item</a>
        </li>
    </ul>
    <div class="c-tabs__section" id="section1">
        <p>a tab</p>
    </div>
    <div class="c-tabs__section" id="section2">
        <p>another tab</p>
    </div>
    <div class="c-tabs__section" id="section3">
        <p>a third tab</p>
    </div>
    <div class="c-tabs__section" id="section4">
        <p>a fourth tab</p>
    </div>
    <div class="c-tabs__section" id="section5">
        <p>a fifth tab</p>
    </div>
</nav>
