@page "/number"

@namespace BlazorApp1.Pages

<SmartInputNumber @bind-Value="BoundDouble"></SmartInputNumber> <br />


<SmartInputNumber @bind-Value="BoundInteger"></SmartInputNumber> <br />

<EditForm Model="Model">

<InputNumber @bind-Value="Model.Value"></InputNumber>

</EditForm>

<p>@BoundDouble</p>
<p>@BoundInteger</p>
<p>@Model.Value</p>
