@page "/panel"

@namespace BlazorApp1.Pages

<Alert Icon="Icon.Add" Closable="true" Message="This is a message" Title="Alert super title"></Alert>

<SmartContainer Size="ContainerSize.Large">
    <h2 class="c-h2">test</h2>
    <h4 class="c-h4">test3</h4>

    <SmartPanel>
        <Header>
            <SmartPanelTitle>This is my title</SmartPanelTitle>
        </Header>
        <Body>
        <h1 class="c-h1">I am the body of a smart panel</h1>
        </Body>
    </SmartPanel>
</SmartContainer>