@page "/progressbar"


@code {

    private int val = 0;
    private void OnClick(MouseEventArgs obj)
    {
        val += 50;
    }
}

@namespace BlazorApp1.Pages

<SmartProgressBar Value="@val"></SmartProgressBar>

<div class="u-spacer-l"></div>

<button @onclick="OnClick">TTT</button>