@page "/tab2"

<SmartTabs>
    <SmartTab Title="Tab1">
        <div>tototo</div>
    </SmartTab>
    <SmartTab Title="Tab2">
        <SmartIcon Icon="Icon.Add"></SmartIcon>
        <SmartPanel>
            <Header>Some Title</Header>
            <Body>
            <h1>This is a h1</h1>
            </Body>
        </SmartPanel>
    </SmartTab>
</SmartTabs>


@code
{
    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (firstRender)
            StateHasChanged();
    }
}