@page "/toto"
@using CurrieTechnologies.Razor.SweetAlert2

@inject SweetAlertService _swal;
@inject NavigationManager navigationManager;


<SmartTable Items="_countries" Context="country" Bordered="false" Styled="true" Invisible="true">
    <TableHeader>
        <tr>
            <th>Iso code</th>
            <th>Name</th>
        </tr>
    </TableHeader>
    <RowTemplate>
        <td>@country.Code</td>
        <td>@country.Name</td>
    </RowTemplate>
</SmartTable>