@namespace Smart.Design.Blazor

@if (Show)
{
    <div class="c-global-banner c-global-banner--@BannerStyle.ToString().ToLowerInvariant()">
        <SmartIcon Icon="IconToDisplay" />
        <p class="c-body-1">
            @ChildContent
        </p>
        <SmartButton ButtonStyle="ButtonStyle.Borderless" LeadingIcon="Icon.Close" OnClick="OnCloseClicked"/>
    </div>
}