@namespace BlazorApp1.Shared.Radio

@typeparam TValue

<div class="c-radio">
    <label>
        <input type="radio"
               checked="@IsChecked"
               name="@Context.GroupName"
               @onchange="OnChange"
               value="@Value" />@Label
    </label>
</div>